<h2>Stock Management</h2>

<%= render 'form', item_stock: @item_stock %>

<h3>Current Stock</h3>
<table class="table">
  <thead>
    <tr>
      <th>Item Name</th>
      <th>Quantity</th>
    </tr>
  </thead>
  <tbody>
    <% @item_stocks.each do |item_stock| %>
      <tr>
        <td><%= item_stock.name %></td>
        <td><%= item_stock.quantity %></td>
      </tr>
    <% end %>
  </tbody>
</table>